
.Banner_Header
{
	background: rgb(68, 169, 99);
	padding: 2% 0px;
}

.Title
{
	font-size: 3em;
	text-align: center;
	color: rgb(256, 256, 256);
}

.All
{
	width: 100%;
	height: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 3% 0px;
}

form p, label
{
	color: rgb(256, 256, 256);
	font-size: 1.3em;
}

.Section_Formulaire
{
	margin: 0px;
}

#nom, #prenom, #date, #battletag
{
	width: 70%;

	border: 1px solid rgb(34, 34, 34);
	border-radius: 7px/7px;

	margin: 3% 0px;

	font-size: 1.7em;
}

.RadioInpt
{
	background: rgb(0, 0, 0);
}

.ValidationBtn
{
	border: 2px solid rgb(256, 256, 256);
	background: rgb(34, 34, 34);

	border-radius: 8px/ 8px;

	text-align: center;

	margin: 3px 0px;

	font-size: 2em;
	color: rgb(256, 256, 256);

	transition: 0.3s;
}

.ValidationBtn:hover
{
	border: 2px solid rgb(256, 256, 256);
	background: rgb(68, 169, 99);

	border-radius: 8px/ 8px;

	text-align: center;

	margin: 3px 0px;

	font-size: 2em;
	color: rgb(256, 256, 256);

	transition: 0.3s;
}

.Section_Affichage
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 2% 2%;
	margin: 0px 5%;
}

.Section_Affichage > p
{
	font-size: 2em;
	color: rgb(256, 256, 256);
	margin: 10px 0px;
}

.Section_Affichage > img
{
	width: 100%;
	max-width: 300px;
	height: auto;
}

body
{
	background: rgb(34, 34, 34);
	font-family: "Ubuntu";
}